@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.clear {
  clear: both;
}
.rbc-event-label {
  display: none;
}

.rbc-event, .rbc-event.category-booked-slots {
  background-color: #bd2423;
  border: 1px solid #bd2423;
  cursor: default
}

.rbc-event .rbc-event-content{
  font-weight: bold;
  text-align: center;
}

.rbc-day-slot .rbc-event{
  border: 1px solid #fff;
}

.rbc-time-view .rbc-row {
    min-height: 0px;
}

.rbc-time-view .rbc-row div:nth-child(1) {
    height: 0px !important;
}

.rbc-day-slot .rbc-time-slot{
  background-color: #fafafa;
}

#root{
  height: auto;
}

.rbc-toolbar, .rbc-time-content .rbc-current-time-indicator{
  display: none !important;
}

.rbc-time-slot.rbc-now{
  font-weight: normal;
}



.rbc-event.category-selected-slot-commute{
  background-color: #aad9e4;
}

.rbc-event.category-selected-slot-installtion{
  background-color: #62cd11;
}

.rbc-event.category-holiday-slot{
  background-color: lightgrey;
}

.rbc-event.category-selected-slot-installtion .rbc-event-content{

}

.rbc-event.category-booked-slots .rbc-event-content{
  color: #bd2423;
}


.rbc-event.category-selected-slot-commute .rbc-event-content{
  color: #000000e3;
}

.rbc-event.category-holiday-slot .rbc-event-content{
  color: lightgrey;
}

.create_app_btn{
  position: relative;
  color: white;
  background-color: #346ba3;

}

.create_app_btn:hover:disabled, .create_app_btn:disabled{
  background: unset !important;
  color: unset !important;
  background-color: #dcddde !important;
}

.rbc-calendar{
  padding-top: 2%;
}

#root .loader{
  position: relative;
  display: block;
  text-align: center;
}

.loader-img{
  position: relative;
  margin-top: 12%;
  margin-bottom: 10%;
  box-shadow: unset !important;
}

.appointment-action{
  float: right;
}

.wp-loader-calendar{
  display: none !important;
}

#root .loader-text p{
  font-size: 33px;
  color: #1d3160;
  font-family: "open sans", sans-serif;
  text-align:  center;

}
#root .loader-text.top-bottom-padding{
  padding-top: 119px;
  padding-bottom: 205px;

}

#root .loader-text p{
  margin-top: 0px;
}

.confirm-appt{
  border: 2px solid #1e345fd1;
  padding: 10px 30px 10px 30px;
  margin-top: 20px;
  background-color: #fafafa;
}

.confirm-appt p{
  color: #1d3160;
  font-family: "open sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 2px !important;

}

.confirm-appt p span{
  color: #bd2423;
}

.confirm-appt-right p{
  text-align: right !important;
}

.confirm-appt-right{
    text-align: right;
    float: right;
}

.confirm-appt-left{

  float: left;
}

.confirm-appt-actions {
  text-align: center;
  margin-top: 30px;
}

.confirm-appt-actions button, .confirm-appt-actions button:focus, .confirm-appt-actions button:hover{
  height: 40px;
  width: 120px;
  margin-left: 10px;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: bold;
  outline: 0;
  cursor: pointer;
  background: none;
}

.confirm-appt-actions button.confirm-appt-btn, .confirm-appt-actions button.confirm-appt-btn:focus{
  border: none;
  background-color: #1f325f;
}
.confirm-appt-actions button.cancel-appt-btn, .confirm-appt-actions button.cancel-appt-btn:focus{
  border: none;
  background-color: #bd2423;
}

.color-div{
  display: inline-block;
  height: 14px;
  width: 35px;
  background-color: red;
  border-radius: 5px;
}
.header-color-desc{
  float: left
}
.header-color-desc div{
  display: inline-block;
  color: #1d3160;
  font-family: "open sans", sans-serif;
  font-weight: bold;
  font-size: 12.5px;

}

.header-color-desc div:not(:first-child) {
    margin-left: 20px;
}

.header-color-desc div div{
  margin-right: 5px;
  vertical-align: sub;


}

.header-color-desc div div.booked{
  background-color: #bd2423;

}

.header-color-desc div div.commute{
  background-color: #aad9e4;

}

.header-color-desc div div.installation{
  background-color: #62cd11;

}

.header-color-desc div div.available{
  background-color: white;
  border: 1px solid lightgrey;

}

.header-div{
  padding-top: 45px;
}

#root .loader-text.appt-created p{
  font-size: 28px;

}

.slot-filled-validate{
  font-size: 16px;
  color: #be2524;
  font-weight: bold;
  font-family: "open sans", sans-serif;
}
.not-mob-friendly{
  display: none;
}

.mob-friendly, .header-div, .rbc-calendar{
  display: block;
}


@media only screen and (max-width: 1024px) {
  .not-mob-friendly{
    display: block;
    text-align: center;
  }
  .mob-friendly, .header-div, .rbc-calendar{
    display: none;
  }


}
